@charset "utf-8";
html {
	font-weight:normal;
	position: relative;
	height: 100%;	
}
*{
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
img {
	border-style: none;
}
ul{list-style: none;}
/* 基础部分*/
body {
	position: relative;
	height: 100%;	
	padding: 0;
	margin: 0 auto;
	font-family: "Microsoft Yahei";
}
.clearfix:after{
	clear: both;
	display: block;
	content: '';
	height: 0;
	visibility: hidden;
}
/*图片列表*/
.listul{width: 1000px; margin: 0 auto; position: relative; overflow:hidden;height:660px;}
.listul>ul{position: absolute;left: 0;top: 0;opacity: 0;}
.listul li{float: left;width:230px;height: 230px;position: relative;margin: 10px; }
.listul li span{position: absolute;bottom: 30px;width: 230px;text-align: center;color: #000;font-size: 15px;padding: 3px 0;}
.listul li img{width: 100%;}
.show{opacity: 1!important;}
/*分页样式*/

